header {
    display: block;
    background-color: #0afcb3;
    color: black;
    text-align: center;
    margin-top: -15px;
}
user agent stylesheet
header {
    display: block;
}
body {
    font-family: 'Assistant', sans-serif;
    padding-left: 100px;
    padding-right: 100px;
}


footer {
    background-color: #0afcb3;
    color: black;
    text-align: center;
    font-size: 15px;
    align-items: center;
    margin-bottom: -12px;
}
user agent stylesheet
footer {
    display: block;
}